body
{
background-color:#C0C0C0;
}

div.insert_weight
{
width:auto;
height:auto;
padding:6px;
border:0px solid;
margin:0px;
display:table;
}

div.labels_add_weight div
{
	text-align:right;
	width:100%;
	height:23px;
	
}

div.graph_weight
{
width:820px;
padding:5px;
border:1px solid;
margin:0px;
}
div.tab_profile_header{
background-color: #98d2f6; 
padding: 8px
}
div.tab_profile_value{
padding: 5px
}
div.negative_label{
	color: red;
	font-weight: bold;
}
div.positive_label{
	color: blue;
	font-weight: bold;
}
label.error {
	color: red;
	padding:10px;
}
