body
{
background-color:#d0e4fe;
}

div.insert_weight
{
width:135px;
height:50px;
padding:5px;
border:1px solid;
margin:0px;
display:table;
}
div.graph_weight
{
width:435px;
padding:5px;
border:1px solid;
margin:0px;
}
div.tab_profile_header{
background-color: #98d2f6; 
padding: 8px
}
div.tab_profile_value{
padding: 5px
}
