<%= form_for(@user) do |f| %>
	<div class="field">
		<div>
			<div><%= f.label :email %></div><br>
		<div>
			<%= f.text_field :email, :size => 40 %><br>
		</div><br>
		<div style="clear:both"><%= f.submit %></div>
	</div>
<% end %>
