<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
						"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html> 
<head>
	<title>MyWeight</title>
	<%= stylesheet_link_tag "myweight", :media => "all" %>
</head> 
<body id="store">
<p>My Weight</p>
<div class="insert_weight">
<%= render "weights/form" %>
</div>
<p>
<div class="graph_weight">
<%= render "weights/show" %>
</div>
</body>
</html>
