<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
						"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html> 
<head>
	<title>MyWeight</title>
	<%= stylesheet_link_tag "myweight", :media => "all" %>
	<script LANGUAGE='Javascript'>
	function ShowMenuDiv (obj) {
		obj.style.display = 'table';
	}
		
	function HideMenuDiv (obj) {
		obj.style.display = 'none';
	}
	</script>

</head> 
<body id="store">
<p>My Weight</p>
<div id="insert_div" class="insert_weight">
<%= render "weights/form" %>
</div>
<p>
<div class="tab1" onclick="HideMenuDiv(show_chart);ShowMenuDiv(show_data);">Chart</div>
<div class="tab2" onclick="HideMenuDiv(show_data);ShowMenuDiv(show_chart);">Data</div>
<div id="show_chart" class="graph_weight" style="display: none">
<%= render "weights/show" %>
</div>
<div id="show_data" class="show_data">
<%=  image_tag "example_chart.png" %>
</div>
</body>
</html>
