<table>
  <tr>
    <th>Weight</th>
    <th>Date</th>
  </tr>
<% @weights.each do |weight| %>
  <tr>
    <td><%= number_with_precision(weight.weight) %></td>
    <td><%= l weight.date, :format => :short  %></td>
  </tr>
<% end %>
</table>
