<table>
  <tr>
    <th>Weight</th>
    <th>Date</th>
  </tr>
<% @weights.each do |weight| %>
  <tr>
    <td><%= weight.weight %></td>
    <td><%= weight.date.to_datetime.strftime("%d/%m/%Y - %H:%M") %></td>
  </tr>
<% end %>
</table>
